html, body, div, span, a, h1, h2, h3, h4, h5, h6, p, blockquote, img, 
ol, ul, li, input, label, select, table, tbody, tfoot, thead, tr, th, 
td, footer, header, menu, nav, section, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  border: 0;
  font-family: 'Assistant', Trebuchet MS, arial, sans-serif;
  line-height: 1.2;
}

body {
  padding: 1rem;
  text-align: center;
}

#greeting {
  margin-bottom: 2.5rem;
}

#home #greeting h2,
#skills #greeting h1 {
  font-size: 6rem;
  margin: 3rem 0 1rem;
  font-weight: 800;
}

#home #greeting h1,
#skills #greeting h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

.selling-point {
  max-width: 600px;
  margin: 3rem auto 0;
}

 @media only screen and (max-width: 600px) {
   #greeting {
     margin-bottom: 1rem;
   }

   #greeting h1 {
     font-size: 2rem;
   }

   #greeting h2 {
     font-size: 1.3rem;
   }

   h1 {
     font-size: 1.25rem;
   }
 }
