html, body, div, span, a, h1, h2, h3, h4, h5, h6, p, blockquote, img, 
ol, ul, li, input, label, select, table, tbody, tfoot, thead, tr, th, 
td, footer, header, menu, nav, section, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  border: 0;
  font-family: 'Assistant', Trebuchet MS, arial, sans-serif;
}

body {
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 6rem;
  display: block;
  margin: 10rem 0 1rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}
