html,
body {
  font-family: 'Oswald', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#greeting {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1;

  div {
    width: 50%;

    h1 {
      font-size: 5rem;
      margin: 0 0 1rem;
      text-transform: uppercase;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      margin: 1rem 0 0;
      font-weight: normal;
      font-size: 2rem;
    }
  }
}

section {
  min-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  color: #ddd;

  div {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    span.section-note {
      font-size: 0.8rem;
      position: absolute;
      top: 0.5rem;
      left: 1rem;
      opacity: 0.7;
      margin: 0;
    }
  }

  h2,
  ul {
    margin: 0;
    padding: 0;
    width: 25%;
  }

  main {
    width: 50%;

    p {
      line-height: 1.3;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }

  ul {
    margin-top: 1.5rem;
    list-style: none;

    li,
    h2 {
      margin: 0 0 0.5rem;
    }
  }

  h3,
  span {
    margin-top: 1.5rem;
    display: block;
  }
}

.background--gray {
  background: #333;
  box-shadow: 0 -0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.background--black {
  background: black;
  box-shadow: 0 -0.2rem 1rem 0.2rem rgba(255, 255, 255, 0.2);
}

.background--white {
  background: white;
  box-shadow: 0 -0.2rem 1rem 0.2rem rgba(255, 255, 255, 0.5);
  color: #333;
}

.hidden-md {
  display: none;
}

@media(max-width: 900px) {
  .hidden-sm {
    display: none;
  }

  .hidden-md {
    display: block;
  }

  #greeting div {
    width: 90%;

  }

  section div {
    main {
      width: 100%;
    }

    ul,
    h2,
    span:not(.section-note) {
      width: 50%;
    }
  }
}

@media(max-width: 920px) {
  #greeting div h1 {
    font-size: 4rem;
  }

  section div {
    flex-wrap: wrap;
  }
}

@media(max-width: 600px) {
  .hidden-sm {
    display: none;
  }

  .hidden-md {
    display: block;
  }

  #greeting div {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1rem;
    }
  }

  section div {
    ul,
    h2,
    span:not(.section-note) {
      width: 100%;
    }
  }

  #skillset {
    height: 100vh;
    overflow: hidden;
  }
}