@keyframes hide {
  from{
    z-index:2;
    transform: scale(1);
    opacity:1;
  } to {
    z-index:-1;
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes show {
  from{
    transform: scale(0);
    opacity:0;
    z-index:-1;
  } to {
    transform: scale(1);
    opacity: 1;
    z-index:2;
  }
}
