#read-poetry {
  left: 1rem;
  bottom: 1rem;
  width: 120px;

  span {
    right: 15rem;
    width: 100px;
  }

  &:hover {
    span {
      right: 0;
    }
  }
}

#modal-overlay {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;

  &.show {
    display: block;
  }
}

#poetry-modal {
  width: 70vw;
  height: 80vh;
  position: fixed;
  left: 50%;
  top: 50%; 
  margin-left: -35vw;
  margin-top: -40vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;

  &.hide {
    z-index: -1;
    opacity: 0;
    animation: hide .25s;
    transform: scale(0);
  }

  &.show {
    display: block;
    opacity: 1;
    z-index: 99;
    animation: show .2s;
    transform: scale(1);
  }

  .header {
    position: fixed;
    z-index: 100;
    margin-top: -1rem;
    width: inherit;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem 0;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);

    h1,
    h2 {
      padding: 0.5rem 1rem;
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1rem;
    }
  }

  .body {
    padding: 1rem;
    text-align: left;

    p {
      margin-bottom: 0.5rem;
    }
  }
}
