@import "./base";
@import "./dark-light-mode";
@import "./animations";
@import "./poetry-modal";
@import "./mobile";

#top-bar {
  .top-bar__item:not(figure) {
    display: none;
  }

  &.fixedTop {
    display: flex;
    justify-content: left;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    background-color: #fff;

    figure {
      padding: 0.5rem 1rem;
      margin: 0;
    }

    figcaption {
      display: none;
    }

    nav {
      display: flex;
      justify-content: left;
    }

    .top-bar__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:not(figure) {
        margin-right: 3rem;
      }
    }

    a {
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#home header h2,
#skills header h1 {
  font-size: 6rem;
  margin: 3rem 0 1rem;
  font-weight: 800;
}

#home header h1,
#skills header h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

#home,
#skills {
  #top-bar {
    h1 {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0;
    }
  }
}

.selling-point {
  max-width: 600px;
  margin: 3rem auto 0;
}

button {
  position: fixed;
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  opacity: 0.8;
  text-align: left;

  &:active {
    outline: 0;
  }

  &:hover {
    opacity: 1;
  }

  span {
    display: inline-block;
    position: absolute;
    transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
  }

  svg {
    width: 20px;
    height: 20px;

    path,
    polygon,
    rect {
      fill: #333;
    }
  }
}

.no-js #dark-mode-toggle {
  display: none;
}
