body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
  transition: color 0.2s;
}

ol {
  list-style: none;
  margin: 5rem auto 1rem;
  padding: 0;
  width: 350px;
}

ol li {
  margin: 0 0 1rem;
  padding: 0;
}

ol a {
  color: #fff;
  border-color: #39e09b;
  border-width: 2px;
  border-style: solid;
  background-color: #39e09b;
  text-align: center;
  position: relative;
  -webkit-transition: all .25s cubic-bezier(.08,.59,.29,.99);
  transition: all .25s cubic-bezier(.08,.59,.29,.99);
  z-index: 2;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: normal;
  padding: 15px 20px;
  display: block;
  position: relative;
}

ol a:hover {
  background: white;
  color: #39e09b;
}

h3 a:hover {
  color: black;
}

.user-area {
  width: 350px;
  margin: 2rem auto 0;
  text-align: center;
}

.user-img {
  width: 90px;
  height: 90px;
  vertical-align: middle;
  background-color: rgba(0,0,0,.1);
  margin: 1rem 0;
  border-style: none;
}

.img-circle {
  border-radius: 50%;
}

.user-name {
  color: #bbb;
  font-size: 1rem;
  font-weight: 600;
  border-color: transparent;
  line-height: 1.25;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  overflow: hidden;
}