#site-footer {
  margin: 1rem 0 0;
  background: snow;
  text-align: right;
  font-size: 0.9rem;
  box-shadow: 0 -0.2rem 0.7rem rgba(0, 0, 0, 0.2);
}

#site-footer.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#site-footer p {
  padding: 0.5rem 1rem;
  margin: 0;
  text-align: right;
  font-size: 0.9rem;
}


#site-footer span {
  transition: transform 0.2s;
  display: inline-block;
  padding: 0 0.2rem;
}

#site-footer span i {
  font-style: normal;
}

#site-footer span:hover {
  transform: scale(1.5);
}

#site-footer span i:last-child {
  display: none;
}

#site-footer span:hover i:first-child {
  display: none;
}

#site-footer span:hover i:last-child {
  display: inline-block;
}

@media (max-width: 600px) {
  #site-footer {
    text-align: center;
  }
}