:root {
  --mdc-theme-primary: #0e4ead;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  opacity: 0.7;
  transition: opacity 0.2s;
}

a:hover {
  opacity: 1;
}

@media (max-width: 400px) {
  a {
    opacity: 1;
  }
}

.mdc-layout-grid--bleed-y {
  padding-top: 0;
  padding-bottom: 0;
}

#hello {
  background: #333;
  padding: 1rem;
  text-align: center;
  position: relative;
}

#hello a {
  display: block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: background 0.2s, color 0.2s, border 0.2s;
}

#hello a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-color: white;
}

#hello h1,
#hello h2 {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  width: 100%;
  color: white;
  text-transform: uppercase;
  line-height: 1;
}

#hello h2 {
  font-size: 2rem;
}

@media(min-width:400px) {
  .hidden--desktop {
    display: none;
  }
}

@media(max-width:400px) {
  #hello a {
    display: none;
  }

  #hello h2 {
    font-size: 1.5rem;
  }

  .mdc-layout-grid__cell--span-2-desktop {
    display: none;
  }
}

#hello__more {
  line-height: 1.3;
}

#hello__more h4 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.hello-more__intro {
  font-size: 1.5rem;
}

.blockquote {
  border-left: 15px solid rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  padding-left: 1rem;
}

.blockquote__text {
  font-style: italic;
  font-family: "serif";
  font-size: 2rem;
}

.blockquote__attribution {
  display: block;
  text-align: right;
  font-size: 0.8rem;
}

.blockquote__text::before {
  content: "\201C";
}

.blockquote__text::after {
  content: "\201D";
}

.photo-feed__thumb {
  display: block;
  text-decoration: none;
  height: 320px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#lightbox-close {
  user-select: none;
  display: block;
  padding: 0 1rem;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.2s;
  pointer-events: auto;
}

#lightbox-close:hover {
  opacity: 1;
}

#lightbox {
  background: rgba(0, 0, 0, 0.7);

  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;

  position: fixed;
  z-index: 9996;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
}

#lightbox .lightbox-img {
  user-select: none;
  position: relative;
  height: 100%;
}

#lightbox .lightbox-img img {
  max-height: 95%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
  z-index: 9998;
}

#lightbox .lightbox-img .lightbox-nav {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 1rem;
  font-size: 5rem;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.2s;
  transform: translate(0, -50%);
  user-select: none;
  user-touch: none;
}

#lightbox .lightbox-img .lightbox-nav.next {
  left: auto;
  right: 1rem;
}

#lightbox .lightbox-img .lightbox-nav:hover {
  opacity: 1;
}

#lightbox .lightbox-header {
  padding: 1rem;
  color: white;
  background: black;
  position: relative;
}

#lightbox.showing {
  opacity: 1;
  pointer-events: auto;
}

.heading--section-title {
  margin-top: 0;
  margin-bottom: 0;
}

.heading--section-title + p {
  text-align: center;
}

.mdc-list {
  padding: 0;
}

.mdc-list-item {
  height: auto;
  display: block;
}

.hire-me {
  line-height: 1.3;
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 100%;
}

.hire-me__topic {
  margin: 0;
  padding: 1rem;
  background: #333;
  color: white;
}

.hire-me__topic small {
  display: block;
  font-size: 1rem;
  color: #ccc;
}

.hire-me__rate,
.hire-me__duration,
.hire-me__deliverables {
  padding: 0.5rem 1rem;
  margin: 0;
}

.hire-me__rate small {
  display: block;
  font-size: 0.9rem;
  opacity: 0.7;
}

.hire-me__duration {
  font-size: 1.1rem;
}

.hire-me__deliverables strong {
  display: block;
}

.mdc-layout-grid__cell--centered {
  text-align: center;
}

.hire-questions__question {
  margin: 0;
  font-weight: bold;
}

.hire-questions__answer,
.hire-questions__answer p {
  margin: 0 0 1rem;
}

#site-footer {
  margin: 1rem 0 0;
  padding: 0.5rem 1rem;
  background: snow;
  text-align: right;
  font-size: 0.9rem;
  box-shadow: 0 -0.2rem 0.7rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  #site-footer {
    text-align: center;
  }
}