:root {
  --mdc-theme-primary: #0e4ead;
}

#hello .mdc-card__media {
  background-image: url("/assets/img/joesak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.photo-feed__thumb {
  display: block;
  text-decoration: none;
  height: 320px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#lightbox-shade {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

#lightbox-shade.showing {
  opacity: 0.8;
  pointer-events: auto;
}

#lightbox-close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.2s;
  pointer-events: auto;
}

#lightbox-close:hover {
  opacity: 1;
}

#lightbox {
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

#lightbox img {
  width: 100%;
  max-height: 540px;
  max-width: 640px;
  border-radius: 0.5rem;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.2);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lightbox.showing {
  opacity: 1;
  pointer-events: auto;
}

.heading--section-title {
  margin-top: 0;
  margin-bottom: 0;
}

.heading--section-title + .mdc-list {
  padding-top: 0;
  padding-left: 0;
}
