:root {
  --mdc-theme-primary: #0e4ead;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#hello {
  background: #333;
  padding: 1rem;
}

#hello h1,
#hello h2,
#hello h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 5rem;
  width: 100%;
  color: white;
  text-transform: uppercase;
  line-height: 1;
}

#hello h2 {
  font-size: 2rem;
}

#hello__more {
  text-align: center;
  line-height: 1.3;
}

#hello__more h4 {
  font-size: 2rem;
  margin: 0;
}

.hello-more__intro {
  font-size: 1.5rem;
}

.blockquote {
  border-left: 15px solid rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  opacity: 0.5;
  font-style: italic;
  font-family: "serif";
}

.blockquote::before {
  content: "\201C";
}

.blockquote::after {
  content: "\201D";
}

.photo-feed__thumb {
  display: block;
  text-decoration: none;
  height: 320px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#lightbox-close {
  user-select: none;
  display: block;
  padding: 0 1rem;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.2s;
  pointer-events: auto;
}

#lightbox-close:hover {
  opacity: 1;
}

#lightbox {
  background: rgba(0, 0, 0, 0.7);

  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;

  position: fixed;
  z-index: 9996;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
}

#lightbox .lightbox-img {
  user-select: none;
  position: relative;
  height: 100%;
}

#lightbox .lightbox-img img {
  max-height: 95%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
  z-index: 9998;
}

#lightbox .lightbox-img .lightbox-nav {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 1rem;
  font-size: 5rem;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.2s;
  transform: translate(0, -50%);
  user-select: none;
  user-touch: none;
}

#lightbox .lightbox-img .lightbox-nav.next {
  left: auto;
  right: 1rem;
}

#lightbox .lightbox-img .lightbox-nav:hover {
  opacity: 1;
}

#lightbox .lightbox-header {
  padding: 1rem;
  color: white;
  background: black;
  position: relative;
}

#lightbox.showing {
  opacity: 1;
  pointer-events: auto;
}

.heading--section-title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.heading--section-title + p {
  text-align: center;
}

