:root {
  --mdc-theme-primary: #0e4ead;
}

#hello .mdc-card__media {
  background-image: url("/assets/img/joesak.jpg?v=3");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.photo-feed__thumb {
  display: block;
  text-decoration: none;
  height: 320px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#lightbox-close {
  display: block;
  padding: 0 1rem;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  color: white;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.2s;
  pointer-events: auto;
}

#lightbox-close:hover {
  opacity: 1;
}

#lightbox {
  background: rgba(0, 0, 0, 0.7);

  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;

  position: fixed;
  z-index: 9996;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
}

#lightbox .lightbox-img {
  position: relative;
  height: 100%;
}

#lightbox .lightbox-img img {
  max-height: 95%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
}

#lightbox .lightbox-header {
  padding: 1rem;
  color: white;
  background: black;
  position: relative;
}

#lightbox.showing {
  opacity: 1;
  pointer-events: auto;
}

.heading--section-title {
  margin-top: 0;
  margin-bottom: 0;
}

.heading--section-title + .mdc-list {
  padding-top: 0;
  padding-left: 0;
}
