/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: Helvetica Neue, Verdana, Arial, sans-serif;
  padding: 3rem;
  padding-top: 1rem;
  transition: background 0.2s, color 0.2s;
}

body {
  color: rgba(28, 28, 28, 1);
  background-color: rgba(255, 255, 255, 0.8);
}

main {
  position: relative;
  z-index: 2;

  &.full {
    h3 {
      border-top-color: black;
    }
  }
}

nav {
  h2 {
    &:hover {
      color: white;
      background: rgba(28, 28, 28, 0.5);
    }

    &.active {
      color: white;
      background: rgba(28, 28, 28, 1);
    }
  }
}

a,
button {
  color: rgba(28, 28, 28, 1);
  transition: background 0.2s, color 0.2s;
}

body.dark {
  background-color: rgba(28, 28, 28, 1);
  color: rgba(255, 255, 255, 0.8);

  main {
    &.full {
      h3 {
        border-top-color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  nav {
    h2 {
      &:hover, &.active {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

  a,
  button {
    color: rgba(255, 255, 255, 0.8);
  }
}

h2,
h3,
h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul li {
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
}

h2 {
  font-size: 1.2rem;
}

header img {
  display: block;
  margin: 1rem;
  margin-left: 0;
  margin-top: 0;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  width: 400px;

  opacity: 0;
  animation-name: fadeInFromBelow;
  animation-duration: 2s;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}

header {
  position: fixed;

  opacity: 0;
  animation-name: fadeInFromTop;
  animation-duration: 2s;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}

main {
  &:not(.full) {
    margin-left: 450px;
  }

  opacity: 0;
  animation-name: fadeInFromRight;
  animation-duration: 2s;
  animation-delay: 250ms;
  animation-fill-mode: forwards;

  &.full {
    margin: 1rem auto;
    width: 70%;

    h3 {
      padding-top: 1rem;
      border-top: 2px solid;
    }

    p {
      margin-bottom: 2rem;
    }

    img {
      margin: 1rem auto;
    }
  }
}

nav {
  display: flex;

  h2 {
    cursor: pointer;
    opacity: 0.8;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    transition: opacity 0.2s, background 0.2s;

    &:hover, &.active {
      opacity: 1;
    }
  }
}

.panel {
  display: none;

  &.show {
    display: block;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

@media only screen and (max-width:400px) {
  body {
    padding: 1rem;
  }

  h2,
  h3,
  h4 {
    margin: 0.5rem 0;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  header {
    position: relative;
  }

  main {
    margin: 0;
  }

  img {
    width: 100%;
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  50% {
    transform: translate(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromBelow {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  50% {
    transform: translate(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  50% {
    transform: translate(0);
  }

  100% {
    opacity: 1;
  }
}

.cryptedmail:after {
  content: "email/" attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

.bg-none {
  background: none;
}

.b-0 {
  border: 0;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.color-inherit {
   color: inherit;
}

.txt-dec-underline {
  text-decoration: underline;
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.button-as-link {
  @extend .color-inherit;
  @extend .txt-dec-underline;
  @extend .bg-none;
  @extend .b-0;
  @extend .p-0;
  @extend .m-0;
  @extend .hover-pointer;
}

#toggle-mode {
  text-transform: uppercase;
  font-size: 0.7rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  opacity: 0.4;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

